body{
    background-color: black;

}
h1{
    text-align: center;
    color: chocolate;
    font-family: 'Monoton', cursive;
    font-size: 100px

}
h2{
    text-align: center;
    color: aliceblue;
}
